.section1 {
    text-align: center;
    color: white;
}
.section_box{
    position: relative;
    margin-top: -200px;
}
.section2 {
    text-align: center;
    color: white;
}
.section3 {
    text-align: center;
    color: white;
}
.section4 {
    text-align: center;
    color: white;
}
.section5 .footer{
    margin: 0;
    height: 80px;
    margin-top: 12px;
}
#content{
    margin-top: -20px;
}
.login form,.reg form{
    width: 500px;
    margin: 0 auto;
    margin-top: 4rem;
}
#deng,#zhu{
    width: 500px;
}
nav{
    z-index: 99999;
}